{{ partial "head.html" . }}
    <style>
        .button-body {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -0.01rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            box-shadow: 0px 14px 23px -17px rgba(0, 0, 0, 0.54);
        }
        .push-up {
            z-index: 1000;
        }

        .is-paddingless-horizontal {
            padding-left: 0;
            padding-right: 0;
        }

        
        .absolute-header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 580px;
            transition: all .3s;
            z-index: 0;
        }
        
        .absolute-header .header-inner {
            position: relative;
            height: 100%;
            width: 100%;
        }
        
        .cut-shape{
            bottom: 1.2rem;
        }

        @media only screen and (max-width: 866px){
            .cut-shape{
                bottom: 0;
            }
        }
        
        @media only screen and (max-width: 622px) {
            .absolute-header {
                visibility: hidden;
            }
        }
        
        .rounded {
            border-radius: 20px;
            box-shadow: 0px 14px 23px -17px rgba(0, 0, 0, 0.075);
        }
        
        .cus-title {
            color: #1B2DC8;
        }
        
        .is-paddingless-horizontal {
            padding-left: 0;
            padding-right: 0;
        }

        .cut-shape {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
        }
        
        .grid {
            display: grid;
            grid-template-columns: [xl-start] 1fr 1.5rem [md-start] minmax(0, 624px) [md-end] 1.5rem 1fr [xl-end];
        }
        
        .grid * {
            grid-column: md;
        }
        
        .grid-xl {
            grid-column: xl;
        }
        
        * {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -.02rem;
            /* background-color: black; */
        }
        
        .top {
            background: url("../assets/workshops/workshop.jpg") center / cover; 
            background-blend-mode: soft-light;
        }
    </style>

</head>



<body class="has-background-light">
    <!-- Hero -->
    {{ partial "workshopbody.html" . }}

    <!-- Workshops -->
    {{ partial "cardsection.html" . }}


    <!--CTA button-->
    <section class="hero is-black">
        <div class="hero-body">
            <div class="container has-text-centered ">
                <h1 class="title has-text-weight-bold py-2">{{ .Params.footer.title}}</h1>
                <p class="subtitle is-size-6">{{ .Params.footer.subtitle }}</p>
                <a class="button is-warning has-text-weight-semibold " href="{{ .Params.footer.link}}">{{ .Params.footer.buttontext}}</a>
            </div>
        </div>
    </section>

</body>


<!-- JavaScript -->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="../js/categories.js"></script>
</html>
