<!-- Hero head: will stick at the top -->
<div class="hero-head">
    <nav class="navbar is-transparent">
        <div class="container has-text-centered">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="../assets/brand/logo-white.png" alt="Logo">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item">
                        <div class="hvr-underline-from-center">
                            About
                        </div>
                    </a>
                    <a class="navbar-item">
                        <div class="hvr-underline-from-center">
                            Workshops
                        </div>
                    </a>
                    <a class="navbar-item">
                        <div class="hvr-underline-from-center">
                            Documentation
                        </div>
                    </a>
                    <span class="navbar-item navbar-button">
                        <a class="button is-success is-rounded">
                    <span>JOIN NOW</span>
                    </a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</div>